.box{
  height: 200px;
  text-align: center;
  padding-top: 20px;
}
button{
  height: 40px;
  width: 80px;
  font-size: 120%;
}
.red{
  background-color: red;
}
.green{
  background-color: green;
}
.white{
  background-color: white;
}
.blue{
  background-color: blue;
}